In [3]:
import pandas as pd
patients = pd.read_csv(r"C:\Users\digit\Downloads\Patients.csv")

In [4]:
patients.head()

   Patient_ID  Age  Cholestrol  Weight
0           1   55         250     220
1           2   60         300     210
2           3   45         230     180
3           4   52         260     205
4           5   49         245     199

In [7]:
high_risk = patients[(patients['Age'] > 50) & (patients['Cholestrol'] >= 240) & (patients['Weight'] >= 200)]

high_risk_final = high_risk.sort_values(by='Cholestrol', ascending=False)

high_risk_final

   Patient_ID  Age  Cholestrol  Weight
1           2   60         300     210
5           6   62         290     230
7           8   51         270     215
9          10   57         265     225
3           4   52         260     205
0           1   55         250     220
6           7   54         240     210

In [ ]:
SELECT *
FROM Patients
WHERE Age>50 & Cholestrol > 240 & Weight > 200
ORDER BY Cholestrol Desc;

high_risk = patients[(patients['Age'] > 50) & (patients['Cholestrol'] >= 240) & (patients['Weight'] >= 200)]

high_risk_final = high_risk.sort_values(by='Cholestrol', ascending=False)

high_risk_final