In [ ]:
import pandas as pd
import numpy as np

result = ms_employee_salary.groupby(['id','first_name','last_name','department_id'])['salary'].max().reset_index().sort_values('id')

with cte as (
SELECT *, 
       RANK() OVER (PARTITION BY first_name, last_name ORDER BY salary DESC) AS rank
FROM ms_employee_salary
)

SELECT id, first_name, last_name, department_id, salary
FROM cte
WHERE rank = 1
ORDER BY id ASC