In [ ]:
WITH cte AS (
    SELECT date, consumption
    FROM fb_eu_energy E

    UNION 

    SELECT date, consumption
    FROM fb_asia_energy A

    UNION 

    SELECT date, consumption
    FROM fb_na_energy N
),

cte1 AS (
    SELECT date, SUM(consumption) AS total
    FROM cte
    GROUP BY date
)

SELECT *
FROM cte1
WHERE total = (SELECT MAX(total) FROM cte1);

In [ ]:
import pandas as pd


# Step 1: Combine all DataFrames
df_combined = pd.concat([df_eu, df_asia, df_na], ignore_index=True)

# Step 2: Group by date and calculate the total consumption per date
df_total = df_combined.groupby('date', as_index=False)['consumption'].sum()
df_total = df_total.rename(columns={'consumption': 'total'})

# Step 3: Find the date with the maximum total consumption
max_total = df_total['total'].max()
result = df_total[df_total['total'] == max_total]

print(result)